#galleryItems{
    list-style: none;
    margin: 0;
    padding: 0;
}

.galleryItem{
    display: inline-block;
    border-top: none;
    padding: 5px;
    margin: 5px;
    width: 225px;
    height: 270px;
    background:#f1f1f1; 
    vertical-align: middle;
}

.itemLabel{
    text-align: center;
    margin: 5px;
}

.actionButton{
    display: block;
    margin: 0 auto;
    margin-bottom: 10px;
}