.innerRoller{
    display: inline-block;
    position: absolute;
    left: 50px;
    transform-origin: 0px 50px;
    transform: rotate(-90deg);
}

.rolling {
    animation-name: roll;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

.noBorder{
    border: none;
}

@keyframes roll{
    0% {transform: rotate(-90deg)}
    100% {transform: rotate(450deg)}
}


.bouncing{
    animation-name: bounce;
    animation-duration: 1s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

@keyframes bounce{
    from{transform: translate(0px);}
    to{transform: translate(100px);}
}